.texto-azul {
  background-color: white;
  border-radius: 30px;
  padding: 10px 20px;
  color: blue;
}
.boton-rojo {
  background-color: red;
  color: white;
  border-radius: 30px;
  padding: 10px 20px;
}