
:root {
    --color-principal: #940808;
    --color-secundario: #af6b6b;
    --color-texto: #0e0000;
}

a:link {
    color: rgb(251, 255, 0);
  }
  
  a:visited {
    color: rgb(192, 165, 165);
  }
  
  a:hover {
    color: rgb(76, 91, 224);
  }
  
  a:active {
    color: rgb(255, 0, 0);
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
header {
    background-color: var(--color-principal);
    width: 100%;
    color: #fff;
}
footer {
    background-color: var(--color-principal);
    width: 100%;
    color: #fff;
    text-align: center;
}
.Header-Buscador{
    position: sticky;
    top: 0;
}
header nav ul {
  padding-top: 10px;
  padding-right: 30px;
  display: flex;
  justify-content: space-around;
}
li {
    list-style-type: none;
    padding-bottom: 10px;
    padding-right: 30px;
}


ul {
    display: flex;
}

p{
    padding: 10px;
}
.Form-Registrar {
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 100%;    
    padding-right: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.flex-item-side {
    display: flex;
    flex-direction: column;    
    width: 50%;
    min-width: 200px;
    min-height: 100px;
    padding-top: 20px;
    margin-top: 5px;
    flex-grow: 1;
    padding: 20px;
}
  
.flex-item-text {
    padding: 10px;
    flex: 50%;
}
.flex-item-Descripcion {
    padding: 10px;
    flex: 100%;
    min-height: 100px;
}
.card {
    padding: 20px;
    width: 100%;
    margin: 20px 10px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.card-style{
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px #ccc;
}
.card-style-2{
    border-radius: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px #ccc;
}
button:hover {
    background-color: #ba0000;
    color: white;
  }
